// ExtraBold 800
h1 {
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

// SemiBold 600
button,
a.btn {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

// Medium 500
h2,
h3,
h4 {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

// Regular 400
a {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

// Light 300
p,
input[type='search'],
label,
textarea {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 426px) {
  html {
    font-size: 12px;
  }
}
