//
// Add whatever variables you would like made available to the whole app
//

$primary-color: #405fcd;
$on-primary-color: #000000;
$secondary-color: #e7f2fd;
$on-secondary-color: #271a00;

// Selection Color
$primary-selection-color: #6d8af1; //Used in selection-colors.scss

// Gray Scale
$white: #ffffff;
$grey-0: #d3d3d3;
$grey-1: #8c8c8c;
$grey-2: #5b5b5b;
$grey-3: #363636;
$grey-4: #1e1e1e;
$grey-5: #141414;
$grey-6: #0c0c0c;
$black: #000000;

// Pastels
$rose: #f67c7c;
$green: #3fe155;
$yellow: #ffc923;
$blue: #1560d4;
$lavender: #6272c7;

// Media Query BreakPoints
$xsmall-576-max: 576px;
$sm-576-min: 576px;
$md-768-min: 768px;
$lg-992-min: 992px;
$xl-1200-min: 1200px;
$xxl-1400-min: 1400px;
