::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: $black; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $grey-4;
  background: $grey-4;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
  background: $gradient-primary; 
}